@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */

@layer base {
	/* :root {
		color-scheme: light;
		--theme-bg: 0deg 0% 98%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	} */

	:root {
		color-scheme: light;
		/* bg */
		/* --theme-bg: 0deg 0% 88%; */
		--theme-bg: 30deg 40% 87%;
		/* --theme-bg: 30deg 100% 99%; */
		/* links, underlines */
		--theme-link: 235deg 79% 62%;
		/* text and social links */
		/* --theme-text: 30deg 70% 15%; */
		--theme-text: 210deg 100% 16%;
		/* --theme-text: 215deg 69% 11%; */
		/* home, about, blog navbar */
		--theme-accent: 197deg 63% 59%;
		/* headers */
		--theme-accent-2: 0deg 0% 7%;
		/* quote in posts */
		--theme-quote: 351deg 66% 48%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 215deg 69% 11%;
		/* cli-main: dark blue #091A31 */
		--theme-link: 235deg 79% 62%;
		/* cli-complimentary: purple #505eeb */
		--theme-text: 0deg 0% 90%;
		/* cli-main: blue #55b3d9*/
		--theme-accent: 197deg 63% 59%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		/* @apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased; */
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono font-normal text-textColor antialiased;
	}

	/* p {
		font-family: Roboto, sans-serif;
	} */

	.cli-text {
		/* font-size: large; */
		font-weight: 600;
		line-height: normal;
		opacity: 0.4;
	}

	.cli-color-main-light-blue {
		color: #55B3D9;
	}

	.cli-color-comp-light-purple {
		color: #505eeb;
	}

	.cli-color-main-blue {
		color: #00aaf0
	}

	.cli-color-comp-grey {
		color: #a3a3a3;
	}

	.cli-highlight {
		/* color: #c3c3c3; */
		/* background-color: #00aaf0; */
		/* Black background color */
		/* padding: 2px 4px 0px 4px; */
		/* Add some padding around the prompt */
	}

	.cli-prompt {
		/* color: #303030; */
		font-weight: 600;
		/* background-color: #505eeb00; */
	}

	/* Define a container for the rows */
	.cli-container {
		display: flex;
		flex-wrap: wrap;
		/* Allow rows to wrap to the next line */
	}


	/* Style for each row */
	.cli-row {
		display: flex;
		width: 100%;
		/* Add spacing between rows */
		margin-bottom: 1.5em;
	}

	/* Style for the first column in each row */
	.cli-col1 {
		/* grow, shrink, space % */
		flex: 0 0 14%;
		text-align: right;
		/* space between colums */
		margin: 0 2em 0 0;
		/* space for text inside */
		padding: 0.25em 0 0 0;
	}

	@media (max-width: 769px) {

		/* Change the width to 30% for small screens */
		.cli-col1 {
			flex: 0 0 14%;
		}

		html body {
			/* @apply text-sm; */
			font-size: 1rem;
		}

		/* .cli-row {
			font-size: 1rem;
		} */

	}

	@media (max-width: 549px) {

		/* Change the width to 30% for small screens */
		.cli-col1 {
			flex: 0 0 13%;
		}

		html body {
			@apply text-sm;
		}
	}

	@media (max-width: 426px) {

		/* Change the width to 30% for small screens */
		.cli-col1 {
			flex: 0 0 15%;
		}

		html body {
			@apply text-sm;
		}
	}

	@media (max-width: 321px) {

		/* Change the width to 30% for small screens */
		.cli-col1 {
			flex: 0 0 17%;
			margin: 0 1.25em 0 0;
		}

		html body {
			@apply text-sm;
		}
	}


	/* Style for the second column in each row (remaining width) */
	.cli-col2 {
		flex: 1;
		/* Take up remaining space */
		/* background-color: #e0e0e0; */
		/* Light gray background for column 2 */
		padding: 5px 10px;
		font-family: Roboto, sans-serif;
		/* font-size: large; */
		/* font-size: medium; */
	}

	@media (min-width: 1439px) {

		.cli-row {
			font-size: 1.05em;
			line-height: 1.4rem;
		}
	}

	@media (min-width: 2399) {

		.cli-row {
			font-size: 1.25em;
			line-height: 1.6rem;
		}
	}

	.cli-heading {
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 2rem;

		@media (max-width: 769px) {
			font-size: 1.35rem;
	
		}
	}

	.cli-word-slider {
		color: #00aaf0;
		font-size: 1.75rem;
		font-weight: 700;

		@media (max-width: 769px) {
			font-size: 1.45rem;
		}
	}

	.mb-28 {
		margin-bottom: 3rem !important;
	}

	.cli-word-slider span {
		animation-name: fade-in-out;
		animation-timing-function: ease-in-out;
		animation-duration: 4s;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
		-ms-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		animation-fill-mode: forwards
	}

	.cli-word-slider span:not(:first-child) {
		display: none
	}

	@keyframes fade-in-out {
		0% {
			opacity: 0;
		}

		25% {
			opacity: 1;
		}

		75% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	/* .text-sm {
		font-size: 3rem !important;
	} */

}