body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Set the height of the container to full viewport height */
  margin: 20px; /* Add margin around the body */
}

.terminal-title {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 72px; /* Adjust the font size */
  margin-bottom: 10px; /* Add some spacing between the title and subtitle */
  letter-spacing: 0.1em;
  font-weight: 500;
}

.terminal-subtitle {
  font-family: 'Roboto Mono', monospace;
  font-size: 32px; /* Adjust the font size */
  font-weight: 400;
  color: #656565;
}

.launching-text {
  background-color: #00b4f4;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px; /* Use viewport units for responsive font size */
  padding: 10px 30px 10px 30px;
  border-radius: 10px; /* Add rounded border */
  text-align: center;
  margin-top: 10px; /* Add some spacing between the subtitle and "launching soon" text */
  max-width: 300px;
}

/* Extra Small Devices (Phones) */
@media only screen and (max-width: 480px) {
  /* CSS styles for extra small devices */
  .terminal-title {
    font-size: 36px;
  }
  
  .terminal-subtitle {
    font-size: 16px;
  }
  
  .launching-text {
    font-size: 16px; 
  }
  
}

/* Small Devices (Tablets) */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* CSS styles for small devices */
  .terminal-title {
    font-size: 48px;
  }
  
  .terminal-subtitle {
    font-size: 22px;
  }
  
  .launching-text {
    font-size: 18px; 
  }
}

/* Medium Devices (Laptops, Desktops) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* CSS styles for medium devices */
  .terminal-title {
    font-size: 60px;
  }
  
  .terminal-subtitle {
    font-size: 28px;
  }
  
  .launching-text {
    font-size: 20px; 
  }
}

/* Extra Large Devices (Large Desktops and Beyond) */
@media only screen and (min-width: 1024px) {
  /* CSS styles for extra large devices */
  .terminal-title {
    font-size: 72px;
  }
  
  .terminal-subtitle {
    font-size: 32px;
  }
  
  .launching-text {
    font-size: 20px; 
  }
}

/* .terminal-container {
  display: flex;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from { border-color: transparent }
  to { border-color: orange; }
}

.terminal-text {
  overflow: hidden;
  border-right: .2em solid orange;
  margin-left: 0.2em;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: 
    typing 1.2s steps(20, end) forwards,
    blink 0.8s infinite;
} */
