---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "What is the Civic Literacy Initiative",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About us</h1>
	</div>
</PageLayout>
