---
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div class="cli-container">
            <div class="cli-row mb-28">
                <span class="cli-heading">Capacity-building <span class="cli-word-slider">
                    <span style="display: inline-block">with care</span>
                    <span style="display: none">with accountability</span>
                    <span style="display: none">with visibility</span>
                    <span style="display: none">with collaboration</span>
                    <span style="display: none">with lasting impact</span>
                    <span style="display: none">reinvented</span>
                </span></span>
            </div>
            
			<div class="cli-row">
				<p class="cli-text">
					<span>hello@civicliteraci.es</span>:<span class="cli-color-comp-light-purple">~</span>$ <span
						style="opacity: 50%">info cli</span>
				</p>
			</div>
			<div>
				<strong>If you could reinvent how trainings and workshops are delivered, what would it look like?</strong>
				<br><br>
				We would...
				<br><br>
				<strong>Identify common challenges</strong> by offering a <a href="https://cal.com/civicliteracies/free" class="cactus-link">free 90 min consultation</a> to anyone who needs support or feedback on their data strategy, project or training. This will allow us to better understand the data literacy challenges faced by the civic sector.
				<br><br>
				<strong>Connect experienced trainers</strong> through a global network spanning 30 countries and 7 languages. They collaborate, learn from each other and support our <span class="cactus-link">data literacy trainings and data strategy consultancy</span>.
				<br><br>
				<strong>Amplify the impact of existing efforts</strong> by addressing a critical issue: the lack of visibility and awareness about other civic actors' activities. Our solution? An <span class="cactus-link">open data platform for training data</span> and an open source training website builder.
				<br><br>
				<strong>Create a dedicated innovation space</strong> in order to prototype new ideas for the future of capacity building. This is the motivation behind our <span class="cactus-link">Capacity-building Lab</span>, whose first project is on AI for data trainings.
			</div>
			<div>
				<p>
					<br><strong>What about you?</strong><br><br><a href="#" id="toggle-contact" class="cactus-link">Contact us</a> to work with us or follow our progress on our <a class="cactus-link" href="/blog">blog</a> and <a href="#" id="toggle-newsletter" class="cactus-link">newsletter</a>.
					<div id="contact" class="hidden" style="margin: 1em 0;">
						<form class="contact-cli" id="contact-cli-form" method="POST" action="https://formspree.io/f/mrgwjogg">
							<fieldset id="fs-frm-inputs">
								<input type="text" name="name" placeholder="Your name">
								<input type="email" name="_replyto" placeholder="Your email">
								<input type="text" name="organization" placeholder="Your organization">
								<textarea name="message" placeholder="Your message"></textarea>
								<input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
							</fieldset>
							<button class="cli-btn" type="submit" style="margin-top: 1em"><strong>Send the message</strong></button>
						</form>
					</div>
					<div id="newsletter" class="hidden" style="margin: 1em 0;">
						<form class="contact-cli" id="newsletter-cli-form" method="POST" action="https://formspree.io/f/xyyqobyn">
							<fieldset id="fs-frm-inputs">
								<input type="text" name="name" placeholder="Your name">
								<input type="email" name="_replyto" placeholder="Your email">
								<input type="hidden" name="_subject" id="email-subject" value="Newsletter subscription">
							</fieldset>
							<button class="cli-btn" type="submit" style="margin-top: 1em"><strong>Join</strong></button>
						</form>
					</div>
				</p>
			</div>
			<!-- <div class="cli-row" style="padding-top: 3em">
            <p class="cli-text">Follow our journey on our <a class="cactus-link" href="/blog">blog</a>, with our <span class="cactus-link" >newsletter</span> (coming soon), or <a class="cactus-link" href="mailto:contact@civicliteraci.es">contact us</a>.</p>
        </div> -->
		</div>
	</section>
</PageLayout>

<script>
    const wordSlider = document.querySelector('.cli-word-slider');
    const options = wordSlider.querySelectorAll('span');
    let currentIndex = 0;

    setInterval(() => {
        options[currentIndex].style.display = 'none';
        currentIndex = (currentIndex + 1) % options.length;
        options[currentIndex].style.display = 'inline-block';
    }, 4000); // Change every 2.5 seconds (adjust as needed)

</script>

<script>
document.getElementById("toggle-contact").addEventListener("click", function (event) {
    event.preventDefault(); // Prevent the link from navigating

	var newsletterDiv = document.getElementById("newsletter");
    newsletterDiv.classList.add("hidden");
    var contactDiv = document.getElementById("contact");
    contactDiv.classList.toggle("hidden");
});

document.getElementById("toggle-newsletter").addEventListener("click", function (event) {
    event.preventDefault(); // Prevent the link from navigating

    var newsletterDiv = document.getElementById("newsletter");
    newsletterDiv.classList.toggle("hidden");
	var contactDiv = document.getElementById("contact");
    contactDiv.classList.add("hidden");
})

<script>
window.onbeforeunload = () => {
  for(const form of document.getElementsByClassName('contact-cli')) {
    form.reset();
  }
}
</script>