---
import PageLayout from "@/layouts/Base";
import LinkButton from "@/components/LinkButton";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div class="cli-container">
			<div class="cli-row">
				<span class="cli-heading"
					>Capacity-building <span class="cli-word-slider">
						<span style="display: inline-block">with care</span>
						<span style="display: none">with accountability</span>
						<span style="display: none">with visibility</span>
						<span style="display: none">with collaboration</span>
						<span style="display: none">with lasting impact</span>
						<span style="display: none">reinvented</span>
					</span></span
				>
			</div>

			<!-- <div class="cli-row">
				<p class="cli-text">
					<span>hello@civicliteraci.es</span>:<span class="cli-color-comp-light-purple">~</span>$ <span
						style="opacity: 50%">info cli</span>
				</p>
			</div>
			<div class="cli-row">
				<div class="cli-col1">
					<span class="cli-prompt">what</span>
				</div>
				<div class="cli-col2">
					<p>
						<strong>If you could reinvent data literacy and capacity building, what would it look like?</strong><br><br>
						We are building the <span class="cli-highlight">next big thing</span> in
						capacity-building for the civic sector: an open toolkit designed to fill the data gap in trainings, workshops, mentoring and all the learning activities that allow our communities to flourish.
					</p>
				</div>
			</div>
			<div class="cli-row">
				<div class="cli-col1">
					<span class="cli-prompt">who</span>
				</div>
				<div class="cli-col2">
					<p>
						CLI is a <span class="cli-highlight">data-driven nonprofit</span> aiming to be the interface to unlocking civic organizations’ potential: we equip both funders and civic organizations in making the best use of data, helping them work better together.
					</p>
				</div>
			</div>
			<div class="cli-row">
				<div class="cli-col1">
					<span class="cli-prompt">how</span>
				</div>
				<div class="cli-col2">
					<p>
						At the individual level we provide strategic advice and facilitate data literacy activities; at the global level we build open-source tools and processes that turn short term trainings into lasting change.
						<br /><br />
						<span class="cli-highlight">Our first product is ourselves</span>: we are rethinking and sharing publicly what a data-driven nonprofit could be; and we are doing so without shying away from the tensions behind our ambition: between speed and inclusion; between measurement and contextualisation; between technology and trust.
					</p>
				</div>
			</div>
			<div class="cli-row">
				<div class="cli-col1">
					<span class="cli-prompt">where</span>
				</div>
				<div class="cli-col2">
					<p>
						We are bringing together a <span class="cli-highlight">global team</span> to tackle a global challenge.
						<br/><br/>
						<a href="#" id="toggle-contact" class="cactus-link">Contact us</a> to work with us or follow our progress on our <a class="cactus-link" href="/blog">blog</a> and <a href="#" id="toggle-newsletter" class="cactus-link">newsletter</a>.
					<div id="contact" class="hidden" style="margin: 1em 0;">
						<form class="contact-cli" id="contact-cli-form" method="POST" action="https://formspree.io/f/mrgwjogg">
							<fieldset id="fs-frm-inputs">
								<input type="text" name="name" placeholder="Your name">
								<input type="email" name="_replyto" placeholder="Your email">
								<input type="text" name="organization" placeholder="Your organization">
								<textarea name="message" placeholder="Your message"></textarea>
								<input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
							</fieldset>
							<button class="cli-btn" type="submit" style="margin-top: 1em"><strong>Send the message</strong></button>
						</form>
					</div>
					<div id="newsletter" class="hidden" style="margin: 1em 0;">
						<form class="contact-cli" id="newsletter-cli-form" method="POST" action="https://formspree.io/f/xyyqobyn">
							<fieldset id="fs-frm-inputs">
								<input type="text" name="name" placeholder="Your name">
								<input type="email" name="_replyto" placeholder="Your email">
								<input type="hidden" name="_subject" id="email-subject" value="Newsletter subscription">
							</fieldset>
							<button class="cli-btn" type="submit" style="margin-top: 1em"><strong>Join</strong></button>
						</form>
					</div>
					</p>
				</div>
			</div> -->
		</div>
	</section>
	<section class="mb-28">
		<div class="mb-14">We are reinventing capacity-building for civic organisations. Join us.</div>
		<div class="mb-14 flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
			<a 
			  href="#" 
			  class="px-6 py-2 rounded-md bg-blue-500 text-white 
					 hover:bg-blue-600 transition-colors duration-300 text-center"
			>
			  Get a free consultation
			</a>
			<a 
			  href="#" 
			  class="px-6 py-2 rounded-md bg-gray-700 text-white 
					 hover:bg-gray-600 transition-colors duration-300 text-center"
			>
			  Hire a trainer
			</a>
		</div>	
	</section>
	<section>
		<div class="mb-28">
			<p class="cli-prompt cli-color-comp-grey mb-14">$cli mission</p>
			<div class="rounded-lg bg-gray-400/10 p-6 shadow-sm">
				<!-- <h2 class="font-semibold text-gray-800 mb-2">Box Title</h2> -->
				<p class="mb-14">
					We can do better than spreadsheets and PDF reports. But to do better, we need to rethink
					what individual and organizational capacity-building looks like. We made it our mission to
					do so.
				</p>
				<div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
					<a 
					  href="#" 
					  class="px-6 py-2 rounded-md bg-blue-500 text-white 
							 hover:bg-blue-600 transition-colors duration-300 text-center"
					>
					  Learn more
					</a>
				</div>	
			</div>
		</div>
	</section>
	<section>
		<div class="mb-28">
			<p class="cli-prompt cli-color-comp-grey mb-14">$cli services</p>
			<div class="mb-14 rounded-lg bg-gray-400/10 p-6 shadow-sm">
				<h2 class="cli-color-main-blue mb-2 font-semibold">Go Beyond the spreadsheet. Fast.</h2>
				<p class="mb-14">
					Our Datasette-based service helps CSOs easily manage data, generate APIs, and build
					interactive data-driven products. Go beyond spreadsheets and unlock the full potential of
					your information.
				</p>
				<div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
					<a 
					  href="#" 
					  class="px-6 py-2 rounded-md bg-blue-500 text-white 
							 hover:bg-blue-600 transition-colors duration-300 text-center"
					>
					  Learn more
					</a>
					<a 
					  href="#" 
					  class="px-6 py-2 rounded-md bg-gray-700 text-white 
							 hover:bg-gray-600 transition-colors duration-300 text-center"
					>
					  Get a free consultation
					</a>
				</div>
			</div>
			<div class="rounded-lg bg-gray-400/10 p-6 shadow-sm">
				<h2 class="cli-color-main-blue mb-2 font-semibold">Learn data skills. At scale.</h2>
				<p class="mb-14">
					Our open training data platform enables standardized training, collaborative learning, and
					data-driven improvement. Transform your training programs and scale your impact across
					your organization.
				</p>
				<div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
					<a 
					  href="#" 
					  class="px-6 py-2 rounded-md bg-blue-500 text-white 
							 hover:bg-blue-600 transition-colors duration-300 text-center"
					>
					  Learn more
					</a>
					<a 
					  href="#" 
					  class="px-6 py-2 rounded-md bg-gray-700 text-white 
							 hover:bg-gray-600 transition-colors duration-300 text-center"
					>
					  Hire a trainer
					</a>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="mb-28">
			<p class="cli-prompt cli-color-comp-grey mb-14">$cli get-involved</p>
			<p class="mb-14">Follow our journey toward better capacity-building for civic actors.</p>
			<div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
				<a 
				  href="#" 
				  class="px-6 py-2 rounded-md bg-blue-500 text-white 
						 hover:bg-blue-600 transition-colors duration-300 text-center"
				>
				  Join our newsletter
				</a>
				<a 
				  href="#" 
				  class="px-6 py-2 rounded-md bg-gray-700 text-white 
						 hover:bg-gray-600 transition-colors duration-300 text-center"
				>
				  Get a free consultation
				</a>
			</div>			  
		</div>
	</section>
</PageLayout>

<script>
	const wordSlider = document.querySelector(".cli-word-slider");
	const options = wordSlider.querySelectorAll("span");
	let currentIndex = 0;

	setInterval(() => {
		options[currentIndex].style.display = "none";
		currentIndex = (currentIndex + 1) % options.length;
		options[currentIndex].style.display = "inline-block";
	}, 4000); // Change every 2.5 seconds (adjust as needed)
</script>

<script>
	document.getElementById("toggle-contact").addEventListener("click", function (event) {
		event.preventDefault(); // Prevent the link from navigating

		var newsletterDiv = document.getElementById("newsletter");
		newsletterDiv.classList.add("hidden");
		var contactDiv = document.getElementById("contact");
		contactDiv.classList.toggle("hidden");
	});

	document.getElementById("toggle-newsletter").addEventListener("click", function (event) {
		event.preventDefault(); // Prevent the link from navigating

		var newsletterDiv = document.getElementById("newsletter");
		newsletterDiv.classList.toggle("hidden");
		var contactDiv = document.getElementById("contact");
		contactDiv.classList.add("hidden");
	})<script>;
	window.onbeforeunload = () => {
		for (const form of document.getElementsByClassName("contact-cli")) {
			form.reset();
		}
	};
</script>
