---
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "Home" }}>
    <section>
        <div class="cli-container">
        <div class="cli-row">
            <p class="cli-text"><span class="cli-color-main-light-blue">hello@civicliteraci.es</span>:<span class="cli-color-comp-light-purple">~</span>$ info cli</p>
        </div>
        <div class="cli-row">
            <div class="cli-col1">
                <span class="cli-prompt">what</span>
            </div>
            <div class="cli-col2">
                <p>We are building the <span class="cli-highlight">next big thing</span> in capacity-building for the civic sector: providing capacity-building with care and bridging the data gap between civic actors and funders.
                </p>
            </div>
        </div>
        <div class="cli-row">
            <div class="cli-col1">
                <span class="cli-prompt">who</span>
            </div>
            <div class="cli-col2">
                <p>CLI is a <span class="cli-highlight">data-driven nonprofi</span> aiming to be the interface to unlocking civic organizations’ potential: we equip both funders and civic organizations in making the best use of data, helping them work better together.</p>
            </div>
        </div>
        <div class="cli-row">
            <div class="cli-col1">
                <span class="cli-prompt">how</span>
            </div>
            <div class="cli-col2">
                <p>At the individual level we provide strategic advice and facilitate data literacy activities; at the global level, we build open-source tools and processes that turn short term trainings into lasting change. 
                <br><br>
                Our first product is ourselves: we are rethinking and sharing publicly what a data-driven non-profit could be; and we are doing so without shying away from the tensions behind our ambition: between speed and inclusion; between measurement and contextualisation; between technology and trust.</p>
            </div>
        </div>
        <div class="cli-row">
           <div class="cli-col1">
                <span class="cli-prompt">where</span>
            </div>
            <div class="cli-col2">
                <p>We are bringing together a <span class="cli-highlight">global team</span> to tackle a global challenge.</p>
            </div>
        </div>
        <div class="cli-row" style="padding-top: 3em">
            <p class="cli-text">Follow our journey on our <a class="cactus-link" href="/blog">blog</a>, with our <a class="cactus-link" href="#">newsletter</a>, or <a class="cactus-link" href="#">contact us</a>.</p>
        </div>
    </div>
        </p>
    </section>
</PageLayout>