---
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div class="cli-container">
            <div class="cli-row mb-28">
                <span class="cli-heading">Capacity-building with <span class="cli-word-slider">
                    <span style="display: inline-block">care</span>
                    <span style="display: none">data</span>
                    <span style="display: none">accountability</span>
                    <span style="display: none">collaboration</span>
                    <span style="display: none">lasting impact</span>
                </span></span>
            </div>
            
			<div class="cli-row">
				<p class="cli-text">
					<span>hello@civicliteraci.es</span>:<span class="cli-color-comp-light-purple">~</span>$ <span
						style="opacity: 50%">info cli</span>
				</p>
			</div>
			<div class="cli-row">
				<div class="cli-col1">
					<span class="cli-prompt">what</span>
				</div>
				<div class="cli-col2">
					<p>
						<strong>If you could reinvent how trainings and workshops are delivered, what would it look like?</strong><br><br>
						We are building the <span class="cli-highlight">next big thing</span> in
						capacity-building for the civic sector: an open toolkit designed to fill the data gap in trainings, workshops, mentoring and all the learning activities that allow our communities to flourish.
					</p>
				</div>
			</div>
			<div class="cli-row">
				<div class="cli-col1">
					<span class="cli-prompt">who</span>
				</div>
				<div class="cli-col2">
					<p>
						CLI is a <span class="cli-highlight">data-driven nonprofit</span> aiming to be the interface to unlocking civic organizations’ potential: we equip both funders and civic organizations in making the best use of data, helping them work better together.
					</p>
				</div>
			</div>
			<div class="cli-row">
				<div class="cli-col1">
					<span class="cli-prompt">how</span>
				</div>
				<div class="cli-col2">
					<p>
						At the individual level we provide strategic advice and facilitate data literacy activities; at the global level we build open-source tools and processes that turn short term trainings into lasting change.
						<br /><br />
						<span class="cli-highlight">Our first product is ourselves</span>: we are rethinking and sharing publicly what a data-driven nonprofit could be; and we are doing so without shying away from the tensions behind our ambition: between speed and inclusion; between measurement and contextualisation; between technology and trust.
					</p>
				</div>
			</div>
			<div class="cli-row">
				<div class="cli-col1">
					<span class="cli-prompt">where</span>
				</div>
				<div class="cli-col2">
					<p>
						We are bringing together a <span class="cli-highlight">global team</span> to tackle a global challenge.
						<br /><br />
						<!-- Follow our journey on our <a class="cactus-link" href="/blog">blog</a>, with our <a class="cactus-link">newsletter</a> (coming soon), or <a class="cactus-link" href="mailto:contact@civicliteraci.es">contact us</a>. -->
						Follow our journey on our <a class="cactus-link" href="/blog">blog</a>, with our <a href="#" id="toggle-newsletter" class="cactus-link">newsletter</a>, or <a href="#" id="toggle-contact" class="cactus-link">contact us</a>.
						<div id="newsletter" class="hidden" style="margin: 1em 0;">
							<form class="contact-cli" id="newsletter-cli-form" method="POST" action="https://formspree.io/f/xyyqobyn">
								<fieldset id="fs-frm-inputs">
									<input type="text" name="name" placeholder="Your name">
									<input type="email" name="_replyto" placeholder="Your email">
									<input type="hidden" name="_subject" id="email-subject" value="Newsletter subscription">
								</fieldset>
								<button class="cli-btn" type="submit" style="margin-top: 1em"><strong>Subscribe</strong></button>
							</form>
							<!-- <form class="contact-cli" id="newsletter-cli-form" method="POST" action="https://formspree.io/f/xyyqobyn">
								<fieldset id="fs-frm-inputs">
									<label for="full-name">NAME</label>
									<input type="text" name="name" id="full-name" placeholder="Your name" required="">
									<label for="email-address">EMAIL ADDRESS</label>
									<input type="email" name="_replyto" id="email-address" placeholder="Your email address" required="">
									<input type="hidden" name="_subject" id="email-subject" value="Newsletter subscription">
								</fieldset>
								<button class="cli-btn" type="submit" style="margin-top: 1em"><strong>Subscribe</strong></button>
							</form> -->
						</div>
						<div id="contact" class="hidden" style="margin: 1em 0;">
							<form class="contact-cli" id="contact-cli-form" method="POST" action="https://formspree.io/f/mrgwjogg">
								<fieldset id="fs-frm-inputs">
									<input type="text" name="name" placeholder="Your name">
									<input type="email" name="_replyto" placeholder="Your email">
									<input type="text" name="organization" placeholder="Your organization">
									<textarea name="message" placeholder="Your message"></textarea>
									<input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
								</fieldset>
								<button class="cli-btn" type="submit" style="margin-top: 1em"><strong>Send the message</strong></button>
							</form>
							<!-- <form class="contact-cli" id="contact-cli-form" method="POST" action="https://formspree.io/f/mrgwjogg">
								<fieldset id="fs-frm-inputs">
									<label for="full-name">NAME</label>
									<input type="text" name="name" id="full-name" placeholder="Your name" required="">
									<label for="email-address">EMAIL ADDRESS</label>
									<input type="email" name="_replyto" id="email-address" placeholder="Your email address" required="">
									<label for="organization">ORGANIZATION</label>
									<input type="text" name="name" id="organization" placeholder="Your organization" required="">
									<label for="message">MESSAGE</label>
									<textarea rows="5" name="message" id="message" placeholder="Your message" required=""></textarea>
									<input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
								</fieldset>
								<button class="cli-btn" type="submit" style="margin-top: 1em"><strong>Send the message</strong></button>
							</form> -->
						</div>
					</p>
				</div>
			</div>
			<!-- <div class="cli-row" style="padding-top: 3em">
            <p class="cli-text">Follow our journey on our <a class="cactus-link" href="/blog">blog</a>, with our <span class="cactus-link" >newsletter</span> (coming soon), or <a class="cactus-link" href="mailto:contact@civicliteraci.es">contact us</a>.</p>
        </div> -->
		</div>
	</section>
</PageLayout>

<script>
    const wordSlider = document.querySelector('.cli-word-slider');
    const options = wordSlider.querySelectorAll('span');
    let currentIndex = 0;

    setInterval(() => {
        options[currentIndex].style.display = 'none';
        currentIndex = (currentIndex + 1) % options.length;
        options[currentIndex].style.display = 'inline-block';
    }, 4000); // Change every 2.5 seconds (adjust as needed)

</script>

<script>
document.getElementById("toggle-contact").addEventListener("click", function (event) {
    event.preventDefault(); // Prevent the link from navigating

	var newsletterDiv = document.getElementById("newsletter");
    newsletterDiv.classList.add("hidden");
    var contactDiv = document.getElementById("contact");
    contactDiv.classList.toggle("hidden");
});

document.getElementById("toggle-newsletter").addEventListener("click", function (event) {
    event.preventDefault(); // Prevent the link from navigating

    var newsletterDiv = document.getElementById("newsletter");
    newsletterDiv.classList.toggle("hidden");
	var contactDiv = document.getElementById("contact");
    contactDiv.classList.add("hidden");
})

<script>
window.onbeforeunload = () => {
  for(const form of document.getElementsByClassName('contact-cli')) {
    form.reset();
  }
}
</script>