---
import "../styles/global.css";

interface Props {
    href: string;
    children: Astro.Props["children"];
    variant?: "primary" | "secondary";
  }
  
  const { href, children, variant = "primary" } = Astro.props;  // Destructure props

  const buttonClasses = {
    primary: "cli-bg-main-blue text-white hover:cli-bg-main-blue",
    secondary: "cli-bg-comp-grey text-white hover:cli-bg-comp-grey",
  };
  ---
  
  <a 
    href={href} 
    class={`px-6 py-2 rounded transition-colors inline-flex items-center justify-center ${buttonClasses[variant || 'primary']}`}
  >
    {children}
  </a>